html {
  background-color: #7FD2F8;
}

header {
  display: flex;
  justify-content: center;
  margin: auto;
}

select {
  width: auto;
  height: 2.5em;
  border-radius: 10px;
}

#controls {
  border-style: solid;
  border-color: #354A54;
  background-color: #99AEBA;
}

#buttons button {
  height: 2.5em;
  width: 6em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1.5em;
  background-color: #EBB6E3;
}

#method-list {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#array-slider {
  padding-bottom: 1.5em;
}

#array-slider p {
  padding-right: .5em;
}

section article {
  display: flex;
  justify-content: center;
}

section canvas {
  border-style: solid;
  border-color: #354A54;
  background-color: #99AEBA;
  margin-bottom: 1em;
  border-radius: 25px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  display: inline;
  padding-left: .1em;
  padding-right: .1em;
}